---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #ddd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2f4050;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  filter: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  li.active {
    a {
      background-color: #293846 !important;
    }
  }
  a {
    color: #a7b1c2 !important;
    &.active, &:hover, &.brand {
      color: #FFF !important;
    }
  }
}

/* Override some defaults */
html {
  min-height: 100%;
}
body {
  background: #ddd;
}
.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

/* Personal Styles */

a {
  color: #2b8cbe;
  &:hover {
    color: #2b8cbe;
  }
  &:visited {
    color: #2b8cbe;
  }
}

.posts-container {
  li {
    list-style: none;
    margin-bottom: 25px;
    .meta {
      margin: 5px 0;
      display: block;
    }
  }
}

.posts_short {
	float: right;
	width: 60%;
  li {
    line-height: 25px;
  }
}

strong {
	margin-bottom: 5px;
}

.currently_reading {
	float: left;
	width: 40%;
}

.image_header {
	height: 250px;
	width: 250px;
	float: left;
}

.top_container {
	margin-bottom: 45px;
	height: 275px;
}
.name {
	float: right;
	margin-right: 25px;
}
.name h1 {
	font-size: 75pt;
	line-height: 70px;
}
.gr_grid_book_container {
	padding-left: 10px !important;
}
.gr_grid_container {
	padding-top: 5px;
}
.side_bar {
	border-left: 5px solid #293846;
	color: black;
	float: right;
	padding-left: 5px;
	margin-top: -90px;
	width: 170px;
}
.pitch {
	width: 460px;
	float: left;
	margin-left: 15px;
	margin-top: 30px;
	background-color: #EEE;
	padding: 10px;
}
.availability {
	float: right;
	top: -31px;
	position: relative;
}
.pitch_footer {
	width: 455px;
	float: left;
	margin-left: 35px;
	margin-top: 5px;
}
.social_icons {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.alert-block {
	margin-top: 5px;
}
.document_icons { height: 120px; }
.document_icons div {
	width: 250px;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
}
.tex {
	margin-right: 150px;
	float: right;
}
.pdf {
	float: left;
	margin-left: 150px;
}
.bio {
	width: 90%;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}
span.date {
	font-size: 11px;
	color: #aeaeae;
}
a.blog_link {
	font-size: 16px;
}

$noise-bg: image-url('noise.png') top left !default;

ul.languages li {
display: inline;
}

.euler > div {
  width: 613px;
  pre {
    border-radius: 0px;
  }
}
.euler h2 {
  margin-top: 10px;
}
.euler .answer_toggle {
  font-size: 11px;
}
.euler .answer_toggle:hover {
  text-decoration: none;
}
.divider {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x;
    margin-bottom: 15px;
}

.problem_block {
  float: left;
  margin-right: 15px;
  a {
    display: inline-block;
    border: 1px solid #CCC;
    padding: 5px 10px;
    text-decoration: none;
  }
  &:hover {
    background-color: #dcdcdc;
    color: #000;
  }
}
p.meta {
  font-weight: bold;
}
.info {
	position: relative;
   cursor: help;
}
.info span {
	display: none;
	position: absolute;
   font-weight:normal;
	font-style:normal;
	top: 30px;
	padding: 5px;
	z-index: 100;
	background-color: #eee;
	border: 2px solid #666;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.info:hover {
	font-size: 100%; /* this is just for IE */
}
.info:hover span {
	display: block;
}
.grid {
  border-collapse: collapse;
  float: right;
}

.grid th {
   text-align: center;
   font-weight: bold;
}
.solved {
  background-color: #CEE7B6;
  a {
    text-decoration: none;
    color: #000 !important;
    font-weight: bold !important;
  }
}
.attempted {
  background-color: #FF6B6B;
  a {
    color: #000 !important;
  }
}
.incorrect_banner {
  background-color: #FF6B6B;
  color: #FFF;
  padding: 5px;
  text-align: center;
  border: 1px solid #DDD;
}
.grid td:hover {
  a {
    color: #000 !important;
  }
}
.grid td, .grid th {
   padding: 1px;
   border: 1px solid #bbb;
   a {
     color: #ccc;
     text-decoration: none;
   }
}

ul {
 margin-left: 20px !important;
}

article.blog-index {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #aeaeae;
}

.talk-header {
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}
#talks {
  li {
    margin-bottom: 5px;
    list-style-type: none;
    div {
      padding: 5px 0;
      .date {
        float: right;
        font-size: 12px;
        text-transform: uppercase;
        color: rgba(0,0,0,0.5);
        line-height: 24px;
      }
    }
  }
}
